@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  min-height: 100vh;
}
header > h1 {
  font-weight: 700 !important;
}
.cover {
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.todo_btn {
  color: #fda285 !important;
  background-color: white !important;
  cursor: pointer;
  transition: all 0.3s ease;
}
.todo_btn:hover {
  background-color: #fda285 !important;
  color: white !important;
}
.todo_flex {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-bottom: 3px;
  transition: all 0.5s ease;
}
.todo_flex li {
  flex: 1;
}
.fa-trash,
.fa-check {
  pointer-events: none !important;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
